@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";




@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: 255 255 255;
  --text: 0 0 0;
}

.dark {
  --bg: 0 0 0;
  --text: 255 255 255;
}


body {
  font-family: var(--font-inter), sans-serif;
}

/* states available for delivery operations  */

@keyframes ticker {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-ticker {
  animation: ticker 18s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}



/* Custom map marker styles */
.pickup-marker .absolute {
  top: -30px !important;
}

.dropoff-marker .absolute { 
  top: -30px !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}